<h1>Editing Patient</h1>

<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <%= render 'form', patient: @patient %>

        <%= link_to 'Show', @patient %> |
        <%= link_to 'Back', patients_path %>
    </div>
</div>
